/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
.blue {
    color: #537fbe;
}

.red {
    color: #ea433b;
}

.yellow {
    color: #f5b82e;
}

.green {
    color: #2e944b;
}

#passwd_input,
#confPasswd_input {
    position: relative;
    cursor: text;
    width: fit-content;
}

#passwd_input i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    color: #707071;
}

#confPasswd_input i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    color: #707071;
}

#passwd,
#confPasswd {
    border-color: transparent;
    outline: none;
    padding: 0;
    height: 20px;
    right: -50px;
}

#prof_btn {
    width: 150px;
}

#profile_pic {
    width: 300px;
    height: 300px;
    cursor: pointer;
}

footer {
    height: 25px;
    width: 100dvw;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(black, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}