{% extends "layout.html" %} {% block title %} Tasks {% endblock %} {% block main
%}
<div>
  <h1 class="mb-3">Tasks</h1>
  <form action="/" method="POST">
    {% if tasks %}
    <div class="table-responsive">
      <table class="table table-stripped">
        <thead>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Created on</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <td>
              <input
                class="form-check-input"
                id="{{ task.title }}"
                type="checkbox"
                name="checked"
                value="{{ task.id }}"
              />
            </td>
            <td>{{ task["title"] }}</td>
            <td>{{ task["dateCreation"] }}</td>
            <td>{{ task["dateStart"] }}</td>
            <td>{{ task["dateEnd"] }}</td>
            <td>{{ task["description"] }}</td>
            <td>{{ task["status"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="table-responsive">
      <table class="table table-stripped">
        <thead>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Created on</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                class="form-check-input"
                disabled
                id="flexCheckDisabled"
                type="checkbox"
                name="checked"
                value="None"
              />
            </td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}
    <div class="buttons d-flex flex-row justify-content-between p-0 m-0">
      <a href="/addTask" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Add task
      </a>
      <a href="/editTask" class="btn btn-primary">
        <i class="fa-regular fa-pen-to-square"></i> Edit task</a
      >
      <button class="btn btn-primary" type="submit" name="deleteBtn">
        <i class="fa-regular fa-trash-can"></i> Delete task
      </button>
      <button class="btn btn-primary" type="submit" name="completeBtn">
        <i class="fa-regular fa-square-check"></i> Complete task
      </button>
    </div>
  </form>
</div>

<style lang="sass">
    form {
        max-width: 80dvw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        table, .buttons {
            min-width: none;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .btn {
                min-width: max-content;
                max-width: 150px;
                box-sizing: border-box !important;
                padding: 5px 10px !important;
                font-size: min(3dvw, 1rem);
            }
        }

    }

  @media screen and (max-width: 500px) {
    table {
      max-width: 100%;
      font-size: 3dvw;
    }

    .buttons {
      flex-direction: column !important;
      gap: 10px;

      .btn {
        width: 50dvw;
        margin: 0 auto;
      }
    }

  }
</style>
{% endblock %}
